{% extends 'base.html' %}


{% block content %}

    <!-- Search -->
    {% load static %}
    {% load mapbox_location_field_tags %} 
    {% location_field_includes %}
    {% include_jquery %}
    <div class="container-fluid">
      <div class="jumbotron">
      <div class="text-center"><img src="{{ logo_img.logo_image.url }}" style="width: auto; height: 195px;" class="img-fluid rounded-circle " alt="Logo"></div>
      <br />
      <form action="{% url 'donorlistsite' %}" method="POST">
          {% csrf_token %}
          {{forms_search.as_p}}
          <div class="text-center">
        <button type="submit" class="btn btn-primary">Search</button>
          </div>
      </form>
      {{ forms_search.media }}
      </div>
    </div>

    
   

   {% endblock  %}