{% extends "base.html" %}

{% block content %}

<div class="container">
 <div class="jumbotron text-center">
 <h1>DONOR LOGIN</h1>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
      <div class="mt-5 mb-2">
        {{ form.username.label_tag }}
        {{ form.username }}
        </div>
      <div class="mt-3 mb-4">
            {{ form.password.label_tag }}
          {{ form.password }}
        </div>

    <input type="submit" value="Login" class="btn btn-primary mb-5"/>

    <input type="hidden" name="next" value="{{ next }}" />

  </form>



  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
  
  
  <br />
  <div class="text-center">
      <p><strong>-- OR --</strong></p>
      <a href="{% url 'social:begin' 'facebook' %}" style="background-color: #3B5998;color: white;"class="fb btn" >
          <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
         </a>
  </div>
  </div>

  </div>

{% endblock %}